<html>
<body>

<div >Список платежей</div>
{{#payments}}
    <a>{{id}}</a>
    <b>{{ascAccount}}</b>
    <c>{{dscAccount}}</c>
    <d>{{date}}</d>
    <e>{{phone}}</e>
    <f>{{currency}}</f>
    <da>{{amount}}</da>
{{/payments}}

</body>
</html>